.container_internal{
    margin-top:90px;
    padding-left: 250px;

}

.candidate{
    margin-top:10px;
    margin-bottom:10px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
    white-space: nowrap;
    width: 630px;
}

.success{
    margin-left=100px;
    color: #EE2266;
}

.container_show{
    margin-top:10px;
    margin-bottom:10px;
    margin-left: 355px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 2px 4px;
    white-space: nowrap;
    width: 630px;
}

.flash{
    padding-left:5px;
    background-color:rgba(218, 137, 165, 0.5);
    border: 2px solid #E1E1E8;
    width: 400px;
}

