{% extends "base.html" %}
{% block body %}
<div class="container_internal">
    <form action="/" method="post">
        <input type="hidden" name="user_id" value="{{params.user_id}}"/>
        <input type="hidden" name="challenge_id" value="{{params.challenge.id}}"/>
        <h2> {{params.challenge.name}} </h2>
        <p>{{params.challenge.description}}</p>
        <p><textarea name="code" rows="20" cols="80"> </textarea></p>
        <p><input class="btn btn-primary" type="submit" value="Enviar"/></p>
    </form>
</div>
{% endblock %}
