{% extends "base.html"%}
{% block body %}
<div class="container_internal center hero-unit">
    {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
    {% endfor %}          
    {% for message in form.description.errors %}
         <div class="flash">{{ message }}</div>
    {% endfor %}
    {% for message in form.result.errors %}
         <div class="flash">{{ message }}</div>
    {% endfor %}

    <form class="form-horizontal" action="/cadastro/desafio" method="post">
        {{form.hidden_tag()}}
        <p>             
            <div class="control-group">     
                {{form.name.label(class="control-label")}}
                <div class="controls">          
                    {{form.name}}
                </div>        
            </div>            
        </p>              
        <p>              
            <div class="control-group">     
                {{form.description.label(class="control-label")}}
                    <div class="controls">          
                        {{form.description(cols=70,rows=10)}}
                    </div>        
            </div> 
        </p>
        <p>
            <div class="control-group">     
                {{form.result.label(class="control-label")}}
                    <div class="controls">          
                            {{form.result}}
                    </div>        
            </div>
        </p>
        <p>
            {{form.submit(class="btn btn-primary")}}
        </p>····
    </form>
</div>

{% endblock %}
