{% extends "base.html" %}
{% block body %}
<script type="text/javascript">
    function set_openid(openid, pr){
        u = openid.search('<username>');
        if (u != -1) {
        // openid requires username
            user = prompt('Enter your ' + pr + ' username:');
            openid = openid.substr(0, u) + user;
        }
        form = document.forms['login'];
        form.elements['openid'].value = openid;
    }
</script>

<div class="container_internal">
    <h1>Entre para fazer os desafios</h1>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            <div class="control-group">
            <label class="control-label"> Nome </label>
            <div class="control">
                {{form.openid(size=25)}}
            </div>
            {% for error in form.errors.openid %}
                <span style="color: red;">[{{error}}]</span>
            {% endfor %}<br>
            </div>
        </p>
        <p>{{form.remember_me}} Mantenha-me conectado</p>
        <p><input  class="btn btn-primary" type="submit" value="Entrar"></p>
    </form>
</div>
{% endblock %}
