{% extends "base.html" %}
{% block body %}
<div class="container_internal">
    <div class="success">
       <h1> Parabéns você acertou</h2>
       <a href="/"> Próximo desafio </a>
    </div>
</div>
{% endblock %}
